
    <%= flash[:notice]%>
<div class="homes_top">
	<h1>top</h1>
	<div class="top_path">
		<li><%=link_to "Sign up", new_user_registration_path, class: "btn btn-info btn_2" %></li>
	    <li><%=link_to "Log in", new_user_session_path, class: "btn btn-success btn_2"%></li>
	</div>
	
</div>
